<section class="hero">
  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          <strong>Kuse Human Solutions </strong> by Ariel and Max
          <span class="icon is-small">
            <i class="fa fa-copyright"></i>
          </span>2020</a>
        </p>
        <p>
          <!-- <a class="icon has-text-primary" href="flower.tech" target="_blank"> <i class="fa fa-globe"></i> </a> -->
          <a class="icon has-text-primary" href="https://github.com/aserravalle" target="_blank"> <i class="fa fa-github"></i> </a>
          <a class="icon has-text-primary" href="mailto:ariel@kutena.com" target="_blank"> <i class="fa fa-envelope"></i> </a>
        </p>
      </div>
    </div>
  </footer>
</section>
