
<!-- Details -->
<p class="title is-5"> Details </p>
  <input type="text" name="detail_University" placeholder="University">
  <input type="text" name="detail_Degree" placeholder="Degree">
  <br>
  <label for="detail_Year"> Level of Study (completed)</label>
    <select type="text" name="detail_Year">
      <option> Undergrad years 1-2 </option>
      <option> Undergrad years 3+ </option>
      <option> Postgraduate </option>
    </select>
  <br>
<br>

<!-- Experience -->
<p class="title is-5"> Experience </p>
  <input type="text" name="experience_Position" placeholder="Position in last job">
  <input type="text" name="experience_Years" placeholder="Years of work experience">
  <br>
  <input type="checkbox" name="experience_LanguagesPython" value="Python"> Python <br>
  <input type="checkbox" name="experience_LanguagesSQL" value="SQL"> SQL <br>
  <input type="checkbox" name="experience_LanguagesJava" value="Java"> Java <br>
  <input type="checkbox" name="experience_LanguagesHTML" value="HTML"> HTML <br>
  <input type="checkbox" name="experience_LanguagesC" value="C"> C, C++, or C# <br>
  <br>
  <label for="experience_LanguagesOther"> If others, please list them separated by commas </label> <br>
  <input type="text" name="experience_LanguagesOther" placeholder="Other">
  <br>
<br>

<!-- Resume -->
<p class="title is-5"> Upload your resume </p>
<label for="resume"> Please make sure to include your transcript, as well as links to your GitHub and LinkedIn, if available </label> <br>
<input type="file" class= "custom-file-input" name="resume" id= "image">
